{% extends 'navbar.html' %}
{% load static %}

{% block body2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style2 %}
    <link rel="stylesheet" href="{% static 'css/pas.css' %}">
    {% endblock style2 %}
    <title>Password Reset - Email Sent | Spacerds</title>
</head>

<body>

    <form class='box' method="post">
        <h2>Password Reset Email Sent</h2>
        <h2 class="inn">Instructions to reset your password has been sent to your email. Make sure to check your spam folder if you
            can't find it.</h2>
    </form>
</body>

</html>
{% endblock body2 %}