{% extends 'navbar.html' %}
{% load static %}

{% block body2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style2 %}
    <link rel="stylesheet" href="{% static 'css/pas.css' %}">
    {% endblock style2 %}
    <title>Password Reset - Complete | Spacerds</title>
</head>

<body>

    <form class='box' method="post">
        <h2>Your password has been set. You may go ahead and log in now.</h2>

        <span class="ok"><a class="linksi" href="/login">Login</a></span>

    </form>

</body>

</html>
{% endblock body2 %}