{% extends 'navbar.html' %}
{% load static %}

{% block body2 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style2 %}
    <link rel="stylesheet" href="{% static 'css/pas.css' %}">
    {% endblock style2 %}
    <title>Password Reset | Spacerds</title>
</head>

<body>

    <form class='box' method="post">
        <h2>Enter your email address below, and we’ll email instructions for setting a new one.
        </h2>
        {% csrf_token %}
        {{form.email}}
        <input type="Submit" name="Send email">

    </form>

</body>

</html>
{% endblock body2 %}